@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Mobile styles */
@media (max-width: 767px) {
  .hero-image {
    margin-top: 25px;
    margin-left: 0px;
  }
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 1023px) {
  .hero-image {
    margin-top: 50px;
    margin-left: 45px;
  }
}

/* Desktop styles */
@media (min-width: 1024px) {
  .hero-image {
    margin-top: 50px;
    margin-left: 75px;
  }
}
